In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from collections import Counter

In [2]:
data = pd.read_csv('C:\CODE\movie_bd_v5.csv')
data.sample()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
875,tt0293662,21000000,43928932,The Transporter,Jason Statham|Shu Qi|FranÃ§ois BerlÃ©and|Matt ...,Louis Leterrier|Corey Yuen Kwai,Rules are made to be broken.,"Former Special Forces officer, Frank Martin wi...",92,Action|Crime|Thriller,TF1 Films Productions|Current Entertainment|Ca...,10/2/2002,6.5,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов
data['profit'] = data.revenue - data.budget # Создается колонка прибыли фильма. Сборы фильма минус бютжет.

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

In [11]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
print(round(data.runtime.mean(), 2))

109.66

In [13]:
answers['4'] = '109.66'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.runtime.median()

107.0

In [15]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
#  Создание колонки 'profit' вынесено в предабработку
data[['original_title','profit']][data.profit == data.profit.max()]

    original_title      profit
239         Avatar  2544505847

In [17]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
data[['original_title','profit']][data.profit == data.profit.min()]

       original_title     profit
1245  The Lone Ranger -165710090

In [19]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
data_profit = data[data.profit > 0] # Сначала создается таблица по прибыльности фильма
len(data_profit['profit']) # Находим количество фильмов

1478

In [21]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data2008 = data[data.release_year == 2008] # Сначала создается таблица по нужной дате
data2008[['original_title','profit']][data2008['revenue'] == data2008.revenue.max()]

      original_title     profit
599  The Dark Knight  816921825

In [23]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
years = [2012, 2013, 2014] # Сначала записываем нужные года
data1214 = data[data['release_year'].isin(years)] # создается таблица с нужными датами
data1214[['original_title','profit']][data1214['profit'] == data1214.profit.min()]

       original_title     profit
1245  The Lone Ranger -165710090

In [25]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [26]:
pd.Series(data.genres.str.cat(sep='|').split('|')).value_counts() [:1]

Drama    782
dtype: int64

In [27]:
answers['11'] = '782'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
film_profit = data[data.profit > 0] # Сначала создается таблица по прибыльности фильма
pd.Series(film_profit.genres.str.cat(sep='|').split('|')).value_counts() [:1]

Drama    560
dtype: int64

In [29]:
answers['12'] = '560'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
data_dir = data.copy()
data_dir['director'] = data_dir['director'].apply(lambda x: x.split('|')) # У некоторых фильмов несколько режиссерео Надо их разделить.
data_dir = data_dir.explode('director') # Для каждого режиссера создается отдельная строка
data_dir = data_dir.groupby(['director']).sum()
data_dir.budget[data_dir.revenue == data_dir.revenue.max()]

director
Peter Jackson    1288000000
Name: budget, dtype: int64

In [31]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
data_action = data.copy()
data_action['genres'] = data_action['genres'].apply(lambda x: x.split('|'))
data_action = data_action.explode('genres') # Создается отдельная строка для каждого жанра фильма
data_action = data_action[data_action.genres == 'Action'] # Создается таблица по нужному жанру
data_action['director'] = data_action['director'].apply(lambda x: x.split('|'))
data_action = data_action.explode('director') # Создается отдельная строка для каждого режиссера фильма
data_action = data_action.groupby(['director']).count() # Группировка по режиссерам
data_action.imdb_id[data_action.genres == data_action.genres.max()]

director
Robert Rodriguez    9
Name: imdb_id, dtype: int64

In [33]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
data_cast = data.copy()
data_cast['cast'] = data_cast['cast'].apply(lambda x: x.split('|'))
data_cast = data_cast.explode('cast')     # Создается отдельная строка для каждого актера фильма
data_cast[data_cast.release_year == 2012].groupby('cast').revenue.sum().sort_values(ascending=False)[:1]

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [35]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
data_cast2 = data.copy()
pd.Series(data_cast2 [data_cast2 .budget > data_cast2 .budget.mean()].cast.str.split('|').sum()).value_counts()[:1] # высокобюджетный значит прибыль выше среднего

Matt Damon    18
dtype: int64

In [37]:
answers['16'] = 'Matt Damonh'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
data_cage = data.copy()
data_cage[data_cage.cast.str.contains("Nicolas Cage")].genres.str.split('|').explode().value_counts()[:1]

Action    17
Name: genres, dtype: int64

In [39]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
data_param = data[data['production_companies'].str.contains('Paramount Pictures')] # Создается таблица по компании
data_param[[ 'original_title', 'profit']].sort_values('profit', ascending=False)[-1:]

           original_title    profit
925  K-19: The Widowmaker -64831034

In [41]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
data_year = data.copy()
data_year.groupby('release_year').revenue.sum().sort_values(ascending=False)[:1]

release_year
2015    25449202382
Name: revenue, dtype: int64

In [43]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
data_Warner = data[data['production_companies'].str.contains('Warner Bros')] # Создается таблица по компании
data_Warner.groupby('release_year').profit.sum().sort_values(ascending=False)[:1]

release_year
2014    2295464519
Name: profit, dtype: int64

In [45]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
data['release_date'].str.split('/').apply(lambda x: x[0]).value_counts().sort_values(ascending=False)[:1]

9    227
Name: release_date, dtype: int64

In [47]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
data.release_date = pd.to_datetime(data.release_date)
data[data.release_date.dt.month.isin([6,7,8])].shape[0]

450

In [49]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director') # Создается отдельная строка для каждого режиссера фильма
winter_director_groupby = winter_director[winter_director.release_date.dt.month.isin([1,2,12])] # Создается отельная таблица по зимним месяцам
winter_director_groupby.groupby('director')['imdb_id'].count().sort_values(ascending=False) [:1]

director
Peter Jackson    7
Name: imdb_id, dtype: int64

In [51]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
data['name_length'] = data.original_title.apply(lambda x: len(x)) # Создается колонка с количеством символов
data['production_companies_list'] = data.production_companies.str.split("|")
production_companies_df = data.explode('production_companies_list') # Создается отдельная строка для каждой компании
production_companies_df.groupby('production_companies_list').name_length.mean().sort_values(ascending=False)[:1]

production_companies_list
Four By Two Productions    83.0
Name: name_length, dtype: float64

In [53]:
answers['24'] = 'Four By Two Productions '

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
data.production_companies = data.production_companies.str.split('|').copy()
data_companies = data.explode('production_companies') # Создается отдельная строка для каждой компании
data_companies['length'] = data_companies['overview'].map(lambda x: len(x.split(' '))) # Создается колонка с количеством слов
data_companies.groupby('production_companies').length.mean().sort_values(ascending=False)[:1]

production_companies
Midnight Picture Show    175.0
Name: length, dtype: float64

In [55]:
answers['25'] = 'Midnight Picture Show '

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
border = data.quantile(0.99, numeric_only=True)['vote_average']  # Находит 99 процентов по рейтингу
data.original_title[data.vote_average > border].sort_values(ascending=False) # все что больше 99 процентов

1183                          The Wolf of Wall Street
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
125                                The Imitation Game
138                          The Grand Budapest Hotel
599                                   The Dark Knight
34                                               Room
1800                                          Memento
118                                      Interstellar
9                                          Inside Out
370                                         Inception
119                           Guardians of the Galaxy
128                                         Gone Girl
1191                                 12 Years a Slave
Name: original_title, dtype: object

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave '

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
data_title = data.copy()
data_title['cast'] = data_title['cast'].str.split('|')
data_title['cast'] = data_title['cast'].apply(lambda x: tuple(it.combinations(sorted(x),2))) # находятся все комбинации пар октеров снимавшихся в одном фильме
Counter(data_title.cast.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [59]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint  '

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.66',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': '782',
 '12': '560',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damonh',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions ',
 '25': 'Midnight Picture Show ',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': 'Daniel Radcliffe & Rupert Grint  '}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27